@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--oc-gray-9);
    --color-bg-darker: var(--oc-gray-8);
    --color-bg-darker-border: var(--oc-gray-7);
    --color-bg-select: rgb(var(--oc-green-4-rgb), 0.3);
    --color-text: var(--oc-gray-0);
    --color-text-unimportant: var(--oc-green-2);
    --color-accent: var(--oc-green-4);
  }
}
