@font-face {
  font-family: "Ubuntu Sans Mono";
  src:
    local("Ubuntu Mono"),
    local("UbuntuSansMono-Regular"),
    url("/fonts/UbuntuSansMono-VariableFont_wght.ttf") format("truetype") tech(variations);
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Ubuntu Sans Mono";
  src:
    local("Ubuntu Mono"),
    local("UbuntuSansMono-Italic"),
    url("/fonts/UbuntuSansMono-Italic-VariableFont_wght.ttf") format("truetype") tech(variations);
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Comic Sans MS";
  src:
    local("ComicSansMS"),
    url("/fonts/comic.ttf") format("truetype");
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Comic Sans MS";
  src:
    local("ComicSansMS-Italic"),
    url("/fonts/comici.ttf") format("truetype");
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Comic Sans MS";
  src:
    local("ComicSansMS-Bold"),
    url("/fonts/comicbd.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Comic Sans MS";
  src:
    local("ComicSansMS-BoldItalic"),
    url("/fonts/comicz.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: fallback;
}

body {
  font-family: "Comic Sans MS", system-ui, sans-serif;
  font-kerning: normal;
}

code,
kbd,
samp,
pre {
  font-family: "Ubuntu Sans Mono", monospace;
  font-size: 0.9em;
  font-weight: 450;
}
