.prose {
  --prose-width: 60ch;

  max-width: var(--prose-width);
  text-wrap: pretty;

  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 4;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-lines: 2;

  hyphens: auto;
  hyphenate-limit-chars: 7 4 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-zone: 8%;
  hyphenate-limit-last: always;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: var(--tracking-s);
  max-width: 20ch;
  hyphens: none;
  text-wrap: nowrap;
}

h1 {
  font-size: var(--step-4);
  max-width: none;
  text-wrap: balance;
  letter-spacing: var(--tracking-xs);

  background: linear-gradient(
    90deg,
    var(--oc-blue-5),
    var(--oc-cyan-5),
    var(--oc-teal-5),
    var(--oc-green-5),
    var(--oc-lime-5),
    var(--oc-yellow-5),
    var(--oc-orange-5),
    var(--oc-red-5),
    var(--oc-pink-5),
    var(--oc-grape-5),
    var(--oc-violet-5),
    var(--oc-indigo-5),
    var(--oc-blue-5)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: var(--step-2);
}

h3,
h4,
h5,
h6 {
  font-size: var(--step-1);
}

small {
  color: var(--color-text-unimportant);
}

a {
  color: var(--color-accent);
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 2px;

  &:hover {
    text-decoration-thickness: 3px;
  }
}

:is(h1, h2, h3, h4, h5, h6) a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: var(--color-accent);
  }
}

pre {
  border-radius: var(--rounding);
  padding: var(--space-xs-s);
  box-shadow: var(--shadow);
  border: 1px solid var(--color-border-dark);
}

figure > figcaption {
  text-align: center;
  text-wrap: balance;
  color: var(--color-text-unimportant);
  font-size: smaller;
  line-height: 1.1;
  margin-top: var(--space-3xs);
}

details.note {
  display: contents;

  > summary {
    display: inline;

    background: linear-gradient(90deg, var(--color-text), var(--color-accent));
    background-clip: text;
    -webkit-text-fill-color: transparent;

    &::-webkit-details-marker,
    &::marker {
      display: none;
      content: "";
    }

    &::after {
      content: "↓";
      color: var(--color-accent);
      margin-inline: 0.2ch 0.5ch;

      @media (width > 920px) {
        content: "»";
        margin-inline: 0.5ch 0.25ch;
      }
    }
  }

  &[open] {
    > summary {
      background: var(--color-bg-darker);
      -webkit-text-fill-color: var(--color-text);
    }
  }

  > :not(summary) {
    padding: var(--space-xs);
    margin-bottom: var(--space-2xs);
    background-color: var(--color-bg-darker);

    @media (width > 920px) {
      --width: 20ch;

      float: right;
      transform: translateY(-50%);
      margin-right: calc((var(--width) + var(--space-l)) * -1);
      max-width: var(--width);
    }

    @media (width > 1222px) {
      --width: 46ch;
    }
  }
}

ul:not([role]),
ol:not([role]) {
  padding-left: var(--space-s-m);
}

::selection {
  background-color: var(--color-bg-select);
}

#Ad-Container {
  position: fixed;
  bottom: var(--space-s-m);
  left: 0;
  min-width: 100vw;

  > img {
    margin: 0 auto;
  }
}
