.wrapper {
  width: 100%;
  max-width: var(--wrapper-width, 1240px);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--space-s);
  padding-right: var(--space-s);
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.region {
  padding-top: var(--region-space, var(--space-xs-s));
  padding-bottom: var(--region-space, var(--space-xs-s));
}
