:root {
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,18,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  /* based on a default .wrapper size of 1240px. */
  --step--2: clamp(0.6331rem, 0.7158rem + -0.1066vw, 0.6944rem);
  --step--1: clamp(0.8333rem, 0.8296rem + 0.0185vw, 0.844rem);
  --step-0: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --step-1: clamp(1.2rem, 1.0958rem + 0.5211vw, 1.4996rem);
  --step-2: clamp(1.44rem, 1.2456rem + 0.9722vw, 1.999rem);
  --step-3: clamp(1.728rem, 1.4022rem + 1.629vw, 2.6647rem);
  --step-4: clamp(2.0736rem, 1.5594rem + 2.5711vw, 3.552rem);
  --step-5: clamp(2.4883rem, 1.7069rem + 3.907vw, 4.7348rem);

  --space-3xs: clamp(0.25rem, 0.2283rem + 0.1087vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4783rem + 0.1087vw, 0.5625rem);
  --space-xs: clamp(0.75rem, 0.7065rem + 0.2174vw, 0.875rem);
  --space-s: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --space-m: clamp(1.5rem, 1.4348rem + 0.3261vw, 1.6875rem);
  --space-l: clamp(2rem, 1.913rem + 0.4348vw, 2.25rem);
  --space-xl: clamp(3rem, 2.8696rem + 0.6522vw, 3.375rem);
  --space-2xl: clamp(4rem, 3.8261rem + 0.8696vw, 4.5rem);
  --space-3xl: clamp(6rem, 5.7391rem + 1.3043vw, 6.75rem);

  --space-3xs-2xs: clamp(0.25rem, 0.1413rem + 0.5435vw, 0.5625rem);
  --space-2xs-xs: clamp(0.5rem, 0.3696rem + 0.6522vw, 0.875rem);
  --space-xs-s: clamp(0.75rem, 0.6196rem + 0.6522vw, 1.125rem);
  --space-s-m: clamp(1rem, 0.7609rem + 1.1957vw, 1.6875rem);
  --space-m-l: clamp(1.5rem, 1.2391rem + 1.3043vw, 2.25rem);
  --space-l-xl: clamp(2rem, 1.5217rem + 2.3913vw, 3.375rem);
  --space-xl-2xl: clamp(3rem, 2.4783rem + 2.6087vw, 4.5rem);
  --space-2xl-3xl: clamp(4rem, 3.0435rem + 4.7826vw, 6.75rem);
  /* end utopia generated */

  --tracking: -0.05ch;
  --tracking-s: -0.075ch;
  --tracking-xs: -0.12ch;

  --shadow: 0px 0.3px 0.5px rgba(0, 0, 0, 0.3), 0px 0.9px 1.8px rgba(0, 0, 0, 0.179), 0px 4px 8px rgba(0, 0, 0, 0.121);

  --rounding: 8px;

  /* https://yeun.github.io/open-color/ */
  --color-bg: var(--oc-lime-0);
  --color-bg-darker: var(--oc-lime-1);
  --color-bg-darker-border: var(--oc-lime-4);
  --color-bg-select: rgb(var(--oc-lime-4-rgb), 0.3);
  --color-text: var(--oc-gray-8);
  --color-text-unimportant: var(--oc-lime-7);
  --color-accent: var(--oc-lime-9);
  --color-border-light: var(--oc-gray-1);
  --color-border-dark: var(--oc-gray-8);
}
