---
import EntryLayout from "../layouts/entry.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  return (await getCollection("entries")).map(entry => ({
    params: { id: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<EntryLayout frontmatter={entry.data}>
  <Content />
</EntryLayout>
