---
import CommonLayout from "../layouts/common.astro";
import { actions } from "astro:actions";

export const prerender = false;

const { data, error } = await Astro.callAction(actions.bookmarks.get, {});
if (data) {
  data.sort((a, b) => (a.category == undefined || b.category == undefined ? 1 : a.category.localeCompare(b.category)));
}
const bookmarks = error ? {} : Object.groupBy(data, bm => bm.category ?? "Uncategorized");
---

<CommonLayout title="My Blogroll">
  <main>
    <div class="wrapper">
      <section>
        <h1>My Bookmarks</h1>
      </section>
      <section class="region flow">
        {
          error ? (
            <span>an error. fuck.</span>
          ) : (
            Object.keys(bookmarks).map(category => (
              <h2>{category}</h2>
              <ul class="flow">
                {bookmarks[category]?.map(bm => (
                  <li>
                    <a href={bm.url}>{bm.title}</a>
                    {bm.tags.map(tag => <small>#{tag}</small>)}
                    {bm.note ? <p class="prose">{bm.note}</p> : null}
                  </li>
                ))}
              </ul>
            ))
          )
        }
      </section>
      {Astro.locals.loggedIn ? (
        <section class="flow">
          <h2>Add new</h2>

          <input id="title" type="text" placeholder="Title" required>
          <input id="url" type="url" placeholder="http://example.com" required>
          <br>
          <input id="category" type="text" placeholder="Category">
          <input id="tags" type="text" placeholder="tag1, tag2, tag3">
          <br>
          <textarea id="notes" placeholder="extra notes..." cols="43"></textarea>
          <br>
          <button id="add">Add new</button>
        </section>
      ) : null}
    </div>
  </main>
</CommonLayout>

<script>
import { actions } from "astro:actions";

document.getElementById("add")?.addEventListener("click", async () => {
  const title = (document.getElementById("title") as HTMLInputElement).value;
  const url = (document.getElementById("url") as HTMLInputElement).value;
  let category: string|undefined = (document.getElementById("category") as HTMLTextAreaElement).value;
  const tags = [...new Set((document.getElementById("tags") as HTMLInputElement).value.split(',').map(tag => tag.trim()).filter(tag => tag))];
  const note = (document.getElementById("notes") as HTMLTextAreaElement).value;

  if (!category) category = undefined;

  const obj = {title,url,category,tags,note};
  console.log(obj);

  const res = await actions.bookmarks.add(obj);
  if (res.error) {
    console.error(res.error);
    alert(JSON.stringify(res.error))
  } else {
    window.location.reload()
  }
})
</script>

<style>
  main {
    padding-top: var(--space-s-m);
  }

  small {
    margin-right: var(--space-3xs);
  }
</style>
