---
import CommonLayout from "../layouts/common.astro";
import { getCollection } from "astro:content";

const jank = (await getCollection("jank")).toSorted((a, b) => +b.data.published - +a.data.published);
---

<CommonLayout title="My Jank">
  <main class="h-feed">
    <div class="wrapper">
      <section class="region">
        <h1>My Jank</h1>
        <i>this is where the janky experimental mess i do goes to</i>
      </section>

      {
        jank.map(item => (
          <section id={item.id} class="h-entry region flow">
            <h2 class="p-name">
              <a class="u-url" href={`#${item.id}`}>
                {item.data.title}
              </a>
            </h2>
            {item.data.media ? (
              <figure>
                {item.data.media.video ? (
                  <video preload="none" controls muted src={item.data.media.video} class="u-video" />
                ) : null}
                {item.data.media.image ? (
                  <img loading="lazy" decoding="async" src={item.data.media.image} class="u-photo" />
                ) : null}
                {item.data.media.caption ? <figcaption>{item.data.media.caption}</figcaption> : null}
              </figure>
            ) : null}
            <article class="e-content flow prose" lang="en" set:html={item.rendered?.html} />
          </section>
        ))
      }
    </div>
  </main>
</CommonLayout>

<style>
  .h-entry {
    display: grid;
    grid-template-areas:
      "header"
      "figure"
      "prose";

    > h2 {
      grid-area: header;
    }

    > figure {
      grid-area: figure;
      max-width: 60ch; /* same width as .prose */

      > video,
      > img {
        width: 100%;
      }
    }

    > article {
      grid-area: prose;
    }

    @media (width > 1240px) {
      column-gap: var(--space-m);
      grid-template:
        "header header"
        "prose  figure" /
        auto 1fr;
    }
  }
</style>
