---
import "../styles/reset.css";
import "open-color/open-color.css";
import "../styles/vars.css";
import "../styles/dark.css";
import "../styles/global.css";
import "../styles/utility.css";
import "../styles/font.css";

import icon from "../assets/icon.png";
import where from "../data/where.json";
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  className?: string;
}

const { title, className: bodyClass } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="color-scheme" content="dark light" />

    <link rel="icon" href={icon.src} />
    <link rel="alternate" type="application/rss+xml" href={new URL("rss.xml", Astro.site)} />

    <script is:inline defer src="//ads.d.on-t.work/ad.min.js"></script>

    <title>{title}</title>
  </head>
  <body class={bodyClass}>
    <slot />

    <footer class={Astro.slots.has("footer") ? "" : "h-card p-author"}>
      <div class="wrapper">
        <slot name="footer">
          <span>by <a class="u-url p-name" href="/">kopper</a></span>
        </slot>

        <nav>
          {
            where.map(w => (
              <a rel="me" class="u-url" href={w.href} aria-label={w.name}>
                <Icon name={w.icon} aria-hidden="true" title={w.name} />
              </a>
            ))
          }
        </nav>
      </div>
    </footer>
  </body>
</html>

<style>
  body {
    font-size: var(--step-0);
    color: var(--color-text);
    background: var(--color-bg);
    letter-spacing: var(--tracking);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    > main {
      overflow-y: scroll;
    }
  }

  footer {
    background-color: var(--color-bg-darker);
    padding: var(--space-xs-s);

    & .wrapper {
      display: flex;
      justify-content: space-between;
      min-height: 1.5em; /* same as line-height so removing the footer slot doesn't decrease height */
    }

    & a {
      color: var(--color-text);
      outline: none;

      &:hover,
      &:focus-within {
        color: var(--color-accent);
      }
    }

    & nav {
      display: flex;
      gap: var(--space-xs);
      justify-content: center;
      align-items: flex-end;

      & :is(a, svg) {
        width: 24px;
        height: 24px;
      }
    }
  }
</style>
