---
import CommonLayout from "./common.astro";

interface Props {
  frontmatter: {
    title: string;
    published: Date;
  };
}

const { frontmatter } = Astro.props;
---

<CommonLayout title={frontmatter.title} className="h-entry">
  <main>
    <div class="wrapper">
      <h1 class="p-name">{frontmatter.title}</h1>
      <article class="e-content flow prose" lang="en">
        <slot />
      </article>
    </div>
  </main>
</CommonLayout>

<style>
  main {
    padding-block: var(--space-s-m);
  }

  h1 {
    margin-bottom: var(--space-s);
  }
</style>
